Header set Access-Control-Allow-Origin: "*"
Header set Access-Control-Allow-Credentials: "true"
Header set Access-Control-Allow-Methods: "OPTIONS, GET, POST, PUT, DELETE"
Header set Access-Control-Allow-Headers: "Content-Type, Depth, User-Agent, X-File-Size, X-Requested-With, If-Modified-Since, X-File-Name, Cache-Control"
Header Set Cache-Control "max-age=0, no-store, no-cache, must-revalidate"
